<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kc.dao.UserDAO">  
	
    <resultMap type="User" id="userResultMap">
        <id column="id" property="id" />
        <result column="u_email" property="email" />
        <result column="u_password" property="password" />
        <result column="u_name" property="name" />
        <result column="u_photo" property="photo" />
        <result column="u_sex" property="sex" />
        <result column="u_birth" property="birth" />
        <result column="u_intro" property="intro" />
        <result column="u_website" property="website" />
        <result column="u_interest" property="interest" />
        <result column="u_from_province" property="fromProvince" />
        <result column="u_from_city" property="fromCity" />
        <result column="u_present_province" property="presentProvince" />
        <result column="u_present_city" property="presentCity" />
        <result column="u_senior" property="senior" />
        <result column="u_college" property="college" />
        <result column="u_college_major" property="collegeMajor" />
        <result column="u_join_college_date" property="joinCollegeDate" />
        <result column="u_join_date" property="joinDate" />
        <result column="u_last_login_date" property="lastLoginDate" />
        <result column="u_online" property="online" />
        <result column="u_account_status" property="accountStatus" />
    </resultMap>
    
    <insert id="insert" parameterType="User" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO user(u_email,u_password,u_name,u_from_province,u_from_city,u_present_province,u_present_city,u_senior,u_college,u_college_major,u_join_date,u_last_login_date)
        VALUES (#{email},#{password},#{name},#{fromProvince},#{fromCity},#{presentProvince},#{presentCity},#{senior},#{college},#{collegeMajor},#{joinDate},#{lastLoginDate})
    </insert>
    
    <!-- <select id="getUserById" parameterType="long" resultType="User" resultMap="userResultMap">
        SELECT * FROM user WHERE id=#{id}
    </select> -->
    
    <select id="getUserByName" parameterType="String" resultType="User" resultMap="userResultMap">
        SELECT * FROM user WHERE u_name=#{name}
    </select>
    
    <select id="getUserByEmail" parameterType="String" resultType="User" resultMap="userResultMap">
        SELECT * FROM user WHERE u_email=#{email}
    </select>
    
    <select id="getUserList" parameterType="String" resultType="User" resultMap="userResultMap">  
        <![CDATA[
            SELECT * FROM user
        ]]>
    </select>
    
    <!-- <insert id="addUser" parameterType="User">
        INSERT INTO user(u_name,u_cn_name,u_email,u_password,u_pic)
        VALUES			(#{name},#{cnName},#{email},#{password},#{pic})
        <selectKey keyProperty="id" resultType="int" order="AFTER">
            SELECT MAX(uid) FROM user
        </selectKey>
    </insert> -->
    
    <!-- <delete id="deleteUser">
        DELETE FROM user WHERE uid = #{uid}
    </delete>
    
    <select id="getUserByUid" parameterType="map" resultType="User" resultMap="userResultMap">
        SELECT * FROM user WHERE uid=#{uid}
    </select>
    
    <update id="updateUserInfo" parameterType="User">
        UPDATE user SET
          u_name = #{name},
          u_cn_name = #{cnName},
          u_email = #{email}
          <if test="password != ''">
            ,u_password = #{password}
          </if>
          WHERE uid = #{id}
    </update> -->
    
</mapper>