/*
	/user/setting
*/
#main {
	margin: 10px 120px;
}
#user-showcase {
	text-align: center;
	margin:5px 0;
}
#user-photo img {
	width: 75px;
	height: 75px;
}
#ver-navi-bar {
	width: 250px;
	margin:auto;
}
#setting-content {
	width: 600px;
	float: left;
}
#setting-content textarea {
	width: 100%;
}
.list-group-item {
	padding: 5px 20px;
	font-size: 13px;
	color: #8b8b8b;
}
#setting-content #sex {
	width: 50%;
}
#setting-content #sex label {
	width: 33%;
}
#setting-content #save {
	display: block;
	margin-top: 30px;
	width: 130px;
}
#ver-navi-bar .list-group {
	display: none;
}
.add-on {
	cursor: pointer;
}
#password #password-field div {
	margin-top: 10px;
}
#password #password-field label {
	width: 20%;
	text-align: right;
}
#password #password-field input {
	width: 45%;
	padding: 3px;
	margin-left: 15px;
}
#portrait #photo-preview {
	width: 200px;
	height: 200px;
	margin: 5px 0 20px 5px;
	border: 2px dotted #000;
}
#portrait .progress {
	width: 65%;
	margin-top: 10px;
}
#alert-box div {
	display: none;
}